@charset "ISO-8859-1";
	body {
    	background-color: AntiqueWhite;
        font-size: 28px;
	}
	
	ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
	}
	
	li {
	    float: left;
	}
	
	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 30px 50px;
	    text-decoration: none;
	}
	
	li a:hover {
	    background-color: #111;
	}
	
	div.fixed {
	    position: -webkit-sticky;
  	    position: sticky;
  	    padding: 5px;
  	    background-color: #DAA520
	}
	
	table {
	    border-collapse: collapse;
	    width: 70%;
	}
	
	th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
	}
	
	tr:nth-child(even){background-color: #f2f2f2;}
	
	tr:hover {background-color: #ddd;}
	
	input[type=text] {
	    width: 60%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    box-sizing: border-box;
	    background-color: #FFF0F5;
	    border-bottom: 2px solid red;
	}

    .box{
        width: 40%;
        padding: 35px;
        border-radius: 20px/50px;
        background-clip: padding-box;
    }

    .button{
         font-size: 1em;
         padding: 10px;
         color: #008CBA;
         border: 2px solid #008CBA;
         border-radius: 20px/50px;
         text-decoration: none;
         cursor: pointer;
         transition: all 0.3s ease-out;
     }
    .button:hover {
        background: #008CBA;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 50%;
        position: relative;
        transition: all 5s ease-in-out;
    }

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }
    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
    .popup .close:hover {
        color: #06D85F;
    }
    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

    @media screen and (max-width: 700px){
        .box{
            width: 70%;
        }
        .popup{
            width: 70%;
        }
    }
